<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/registerRequest" method="post">
    <input type="text" name="email">
    <input type="text" name="phone">
    <input type="text" name="password">
    <input type="text" name="repassword">
    <input type="text" name="identifyingCode">
    <br><br>
    <a href="/sendRegisterIdentifyingCode?phone=13142122282">发送验证码</a>
    <input type="submit" value="submit">
</form>

</body>
</html>